*{
  margin:0  ;
  padding:0 ;
  box-sizing: border-box;
}

body{
  background-color: #e7e9e9; 
  font-family: 'Noto Sans Mono', monospace; 

}
span{
   font-size:20px ;
   user-select: none;
   cursor:text ;
}
span.correct{
  color:#0e630e ;
  background: #e7fbd3;
}
span.wrong{
  color:darkred ;
  background:pink ;
}
span.active{
  border-left: 1px solid rgb(11, 11, 14);
  cursor:blink;
}